{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="main-logo row h-100 d-flex justify-content-around my-5 text-center">
            <div class="my-auto">
                <h1 class="display-4 logo-font text-light">
                    All the classics are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-around my-5 text-center cards">
            <!-- Consoles Card -->
            <div class="col-md-3 mt-4 grow card text-white bg-dark shadow">
                <a href="{% url 'products' %}?category=playstation,xbox,nintendo,retro" class="btn rounded-0 text-uppercase">
                    <div class="row mt-1 mb-1">
                        <img src="{% static 'images/consoles_card.jpg' %}" class="rounded img-fluid"
                            alt="A photo of a video game console">
                            <p class="pt-3 button-card ">Consoles<p>
                    </div>
                </a>
            </div>
            <!-- Games Card -->
            <div class="col-md-3 mt-4 grow card text-white bg-dark shadow">
                <a href="{% url 'products' %}?category=retro_video_games,new_gen_video_games" class="btn rounded-0 text-uppercase">
                    <div class="row mt-1 mb-0">
                        <img src="{% static 'images/games_card.jpg' %}" class="rounded img-fluid"
                            alt="A photo of multiplpe video games">
                            <p class="pt-3 button-card">Games</p>
                    </div>
                </a>
            </div>
            <!-- Accessories Card -->
            <div class=" col-md-3 mt-4 grow card text-white bg-dark shadow">
                <a href="{% url 'products' %}?category=playstation_accessories,xbox_accessories,nintendo_accessories,retro_accessories" class="btn rounded-0 text-uppercase">
                    <div class="row mt-1 mb-0">
                        <img src="{% static 'images/accessories_card.jpg' %}" class="rounded img-fluid"
                            alt="A photo of video game accessories">
                            <p class="pt-3 button-card">Accessories</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}
    
<!-- Mailchimp -->
<script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    
{% endblock %}