{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row h-100 justify-content-around my-5 text-center">
            <div class="col-7 col-md-6 my-auto ">
                <h1 class="display-4 logo-font text-light">
                    All the classics are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <section class="container">
        <div class="col-12 row d-flex justify-content-around my-5 text-center cards">
            <!-- Consoles Card -->
            <div class="col-md-3 mt-4 grow card text-white bg-dark mb-0 shadow">
                <a href="{% url 'products' %}?category=playstation,xbox,nintendo,retro" class="btn rounded-0 text-uppercase">
                    <div class="row mt-1 mb-1">
                        <img src="{% static 'images/consoles_card.jpg' %}" class="rounded img-fluid"
                            alt="A photo of a video game console">
                            <p class="pt-3 button-card ">Consoles<p>
                    </div>
                </a>
            </div>
            <!-- Games Card -->
            <div class="col-md-3 mt-4 grow card text-white bg-dark mb-0 shadow">
                <a href="{% url 'products' %}?category=retro_video_games,new_gen_video_games" class="btn rounded-0 text-uppercase">
                    <div class="row mt-1 mb-0">
                        <img src="{% static 'images/games_card.jpg' %}" class="rounded img-fluid"
                            alt="A photo of multiplpe video games">
                            <p class="pt-3 button-card">Games</p>
                    </div>
                </a>
            </div>
            <!-- Accessories Card -->
            <div class=" col-md-3 mt-4 grow card text-white bg-dark mb-0 shadow">
                <a href="{% url 'products' %}?category=playstation_accessories,xbox_accessories,nintendo_accessories,retro_accessories" class="btn rounded-0 text-uppercase">
                    <div class="row mt-1 mb-0">
                        <img src="{% static 'images/accessories_card.jpg' %}" class="rounded img-fluid"
                            alt="A photo of video game accessories">
                            <p class="pt-3 button-card">Accessories</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- footer -->
    <footer class="bg-dark text-center text-white mt-3">
        <div class="container p-4 pb-0">

            <!-- Section: Social media -->
            <section class="mb-4">
                <h3>Social Media</h3>
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.twitter.com" target="_blank"
                    role="button"><i class="fab fa-twitter"></i> Twitter</a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://ie.linkedin.com/" target="_blank"
                    role="button"><i class="fab fa-linkedin-in"></i> LinkedIn</a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Jamsey911" target="_blank"
                    role="button"><i class="fab fa-github"></i> GitHub</a>
            </section>
        </div>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white" href="#">gameret</a>
        </div>
    </footer>
{% endblock %}