<div class="collapse navbar-collapse justify-content-between" id="main-nav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-2 d-lg-none" href="{% url 'home' %}" id="home-link">
                Home 
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-2" href="#" id="about-contact-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Information 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="about-contact-link">
                <a href="{% url 'about:about' %}" class="dropdown-item">About Us</a>
                <a href="{% url 'about:about' %}#contact" class="dropdown-item">Contact Us</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-2" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-2" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Consoles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=playstation" class="dropdown-item">Playstation</a>
                <a href="{% url 'products' %}?category=xbox" class="dropdown-item">Xbox</a>
                <a href="{% url 'products' %}?category=nintendo" class="dropdown-item">Nintendo</a>
                <a href="{% url 'products' %}?category=retro" class="dropdown-item">Retro</a>
                <a href="{% url 'products' %}?category=playstation,xbox,nintendo,retro" class="dropdown-item">All Consoles</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-2" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=retro_video_games" class="dropdown-item">Retro Video Games</a>
                <a href="{% url 'products' %}?category=new_gen_video_games" class="dropdown-item">New Gen Video Games</a>
                <a href="{% url 'products' %}?category=retro_video_games,new_gen_video_games" class="dropdown-item">All Video Games</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=playstation_accessories" class="dropdown-item">Playstation Accessories</a>
                <a href="{% url 'products' %}?category=xbox_accessories" class="dropdown-item">Xbox Accessories</a>
                <a href="{% url 'products' %}?category=nintendo_accessories" class="dropdown-item">Nintendo Accessories</a>
                <a href="{% url 'products' %}?category=retro_accessories" class="dropdown-item">Retro Accessories</a>
                <a href="{% url 'products' %}?category=playstation_accessories,xbox_accessories,nintendo_accessories,retro_accessories" class="dropdown-item">All Accessories</a>
            </div>
        </li>
        <li>
            
        </li>
    </ul>
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100 d-none d-lg-flex">
                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site" aria-label="Search">
                <div class="input-group-append">
                    <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search" aria-label="search icon"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
