{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-dark ">
    <div class="row blog-header">
        <div class="col-12 col-md-6 order-md-first py-2">
            <p class="text-light mt-3 text-center text-md-left">
                <span class="small"><a href="{% url 'home' %}" class="btn-lg p-1 mt-2 text-decoration-none btn-outline-black">Back to Home</a> | </span>
                Displaying {{ postings.start_index }}-{{ postings.end_index }} of {{ postings.paginator.count }} Postings</p>
        </div>
    </div>

    <!-- cards -->
    <div class="container bg-light rounded">
        <div><h1 class="text-uppercase text-black text-center pt-4 text-decoration-underline">Blog</h1></div>
        <div class="col">
            <div class="row d-flex justify-content-center text-center rounded">

                {% for post in postings %}
                {% if post.status %}

                <div class="col-md-4 m-5 grow bg-dark rounded shadow-lg">
                    {% if post.featured_image %}
                    <a href="{% url 'post_detail' post.slug %}">
                        <img class="card-img-top mt-2" src="{{ post.featured_image.url }}" alt="image for blog post {{ post.title }}"></a>
                    {% else %}
                    <a href="{% url 'post_detail' post.slug %}">
                        <img class="card-img-top mt-2" src="{{ MEDIA_URL }}placeholder_image.png"
                            alt="default image for blog post {{ post.title }}"></a>
                    {% endif %}

                    <div class="card-body">
                        <a href="{% url 'post_detail' post.slug %}" class="text-decoration-none">
                            <h2 class="card-title mt-3 text-white">{{ post.title }}</h2>
                        </a>
                        <p class="card-subtitle mb-2 text-white">By: {{ post.author }}</p>
                        <p class="card-text mt-3 text-white"><em>{{ post.excerpt }}</em></p>
                        <hr>
                        <p class="card-text text-white h6 mb-3">{{ post.created_date }}</p>
                    </div>
                </div>

                    {% endif %}
                    {% endfor %}
            </div>
            <div>
                <!-- pagination -->
                <div class="row d-flex py-5 justify-content-center text-center rounded blog-pagination">

                    {% if postings.has_previous %}

                    <a href="?page=1" class="text-black">&laquo First</a>
                    <a href="?page={{ postings.previous_page_number }}" class="text-black">Previous</a>

                    {% endif %}
                    Page {{ postings.number }} of {{postings.paginator.num_pages }}

                    {% if postings.has_next %}

                    <a href="?page={{ postings.next_page_number }}" class="text-black">Next</a>
                    <a href="?page={{ postings.paginator.num_pages }}" class="text-black">Last &raquo;</a>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'includes/footer.html' %}
<!-- Mailchimp -->
<script  src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

{% endblock %}