{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="Retro Games, Retro Consoles, Retro Accessories, Games Shop, Games Store ">
        <meta name="description" content="Buy the latest  and retro video games including PS5, Xbox, Nintendo Switch blockbuster hits and all your old faves!.">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="shortcut icon" type="image/png" href="https://gameret.s3.eu-west-1.amazonaws.com/static/favicon/favicon.ico">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/9f816534b6.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe payment JS -->
        <script src="https://js.stripe.com/v3/"></script>
        <!-- Mailchimp -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Gameret {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row navbar-expand-lg navbar-dark bg-dark pt-lg-2 d-none d-lg-flex justify-content-between">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-light my-0"><strong>GAMERET</strong></h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-light nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                            {% if request.user.is_authenticated %}
                                <i class="custom-highlight fas fa-user fa-lg"></i>
                                <p class="custom-highlight my-0">My Account</p>
                                {% else %}
                                <i class="fas fa-user fa-lg"></i>
                                <p class="my-0">My Account</p>
                                {% endif %}
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}custom-highlight font-weight-bold{% else %}text-light{% endif %} nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100" style="background-color: rgb(227,242,253,0.2)">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <!-- Free delivery banner -->

        {% if "products" in request.path or "basket" in request.path %}
        <div id="delivery-banner" class="row secondary-bg text-center">
            <div class="col-12">
                <div id="delivery-slider" class="carousel slide row" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item text-center secondary-bg active">
                            <h4 class="banner-font"><i
                                    class="fa-solid fa-sm- fa-flip-horizontal fa-truck banner-icon"></i> Free
                                nationwide delivery on orders over €{{ free_delivery_threshold }}!</h4>
                        </div>
                        {% if free_delivery_delta == 0 %}
                        <div class="carousel-item text-center secondary-bg">
                            <h4 class="banner-font"><i class="fa-solid fa-flip-horizontal fa-truck banner-icon"></i>
                                Congratulations... You qualify for free delivery!!!</h4>
                        </div>
                        {% else %}
                        <div class="carousel-item text-center secondary-bg">
                            <h4 class="banner-font"><i class="fa-solid fa-flip-horizontal fa-truck banner-icon"></i>
                                Spend just <strong>€{{ free_delivery_delta }} more to qualify for free
                                    delivery!</strong></h4>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row nav-footer">

        </div>
        {% endif %}
    </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script>
        $('.toast').toast('show');
    </script>
    {% endblock %}
    </body>
</html>